{{ define "title" }}Login{{ end }}
{{ define "head" }}
{{ end }}

{{ define "content" }}

  <div class="clearfix page-guide">
    <h2 class="pull-left">OpenVPN 证书提取</h2>
    <div class="pull-right btn-return">
      <ul class="nav nav-pills">
        <li role="presentation"><span class="btn">Welcome {{ .user.Name }}!</span>{{ .user.Avatar | avatarHTML }}</li>
        <li role="presentation">
          <a href="status" class="btn btn-default">状态</a>
        </li>
      </ul>
    </div>
  </div>
  <hr>

  <form class="form-horizontal center-block certificate-form" action="{{ .action }}" method="post">

    <div class="form-group">
      <label class="control-label" for="emailName">工作邮箱</label>
      <div class="input-group">
        <input class="form-control" id="emailName" name="emailName" type="text" value="">
        <span class="input-group-addon">@</span>
        <select class="form-control j-select" id="emailHost" name="emailHost">
          <option value="phoenixtv.com">phoenixtv.com</option>
          <!-- <option value="cloudifeng.com">cloudifeng.com</option>
          <option value="phoenixincloud.com">phoenixincloud.com</option>
          <option value="phoenixincloud.net">phoenixincloud.net</option> -->
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">操作系统: </label>
      <div class=" input-group">
        <label class="input-group-addon"><input type="radio" name="clientOS" aria-label="Windwos" value="windwos"> Windwos </label>
        <label class="input-group-addon"><input type="radio" name="clientOS" aria-label="macOS" value="mac"> macOS </label>
        <label class="input-group-addon"><input type="radio" name="clientOS" aria-label="Linux" value="linux"> Linux </label>
    </div>

    <br>
    <div class="form-group">
      <input class="btn btn-primary pull-right j-submit" id="submit" name="submit" type="submit" value="发送证书">
    </div>

  </form>
  <footer>
    <a class="btn btn-default" href="client_guide/linux">Linux</a>
    <a class="btn btn-default" href="client_guide/darwin">Mac</a>
    <a class="btn btn-default" href="client_guide/windows">Windows</a>
    <a class="btn btn-default" href="route_customize">自定义路由表</a>
  </footer>
{{ end }}
{{ define "tail" }}
{{ end }}
