{{ define "title" }}Routes{{ end }}
{{ define "head" }}
<style>
  li {
    line-height: 1.75;
  }
</style>
{{ end }}

{{ define "content" }}

  <div class="clearfix page-guide">
    <h2 class="pull-left">自定义路由表</h2>
    <div class="pull-right btn-return">
          <a href="status" class="btn btn-default">状态</a>
    </div>
  </div>
  <hr>

  <h3>注意事项</h3>
  <ul>
    <li>自定义路由表可以让 OpenVPN 客户端转发特定网段的流量, 一般用于内测。</li>
    <li>自定义路由表是高级用法, 技术团队<span>无法提供可靠性支持</span>, 如果使用出现问题请恢复默认配置文件</li>
  </ul>

  <h3>设置方法</h3>
  <ol>
    <li>用文本编辑器打开邮箱中下载的 OpenVPN 配置 (文件名以 <code>.ovpn</code> 结尾)</li>
    <li>如果将文件最后一行为 <code>redirect-gateway def1</code>, 则更改为 <code># redirect-gateway def1</code> (在开头添加了 <code># </code>)</li>
    <li>
      在文件最后另起一行, 以如下格式（<code>route IP 子网掩码 转发方式</code>）加入转发配置。示例：
      <pre>
route 0.0.0.0         0.0.0.0         net_gateway
route 114.113.229.218 255.255.255.255 net_gateway
route 192.168.0.0     255.255.0.0     vpn_gateway
route 172.17.0.0      255.255.0.0     vpn_gateway</pre>
      其中转发方式 <code>net_gateway</code> 代表直接访问，<code>vpn_gateway</code> 代表通过 VPN 访问。
    </li>
    <li>保存文件, 然后重新连接 OpenVPN, 如果是 OS X 系统下的 Tunnelblick 客户端会要求重新输入管理员密码。</li>
    <li>
      如果手动设置过系统 DNS 服务器, 需要修改为系统自动获取, 否则 OpenVPN 推送的 DNS 服务器无法生效, 内部网站的域名将无法正确解析。
    </li>
  </ol>
{{ end }}
{{ define "tail" }}
{{ end }}

