@import "bootstrap.css"
@import "bootstrap-select.css"
@import "page-guide.styl"

.certificate-form
  width: 350px
  padding-top: 100px

footer
  position: fixed
  text-align: center
  width: 82%
  bottom: 2em
