@import "bootstrap.css"
@import "bootstrap-select.css"
@import "page-guide.styl"

img.avatar
  max-height: 42px
  border-radius: 5px


.certificate-form
  width: 350px
  padding-top: 100px
  input[type=text]
    min-width: 160px

footer
  position: fixed
  text-align: center
  width: 82%
  bottom: 2em
