{%- extends 'base.html' %}

{%- block body %}
  <form class="form-horizontal center-block certificate-form" action="{{ url_for('.certificate') }}" method="post">
    {{ form.csrf_token() }}

    <div class="form-group">
      {{ form.email_name.label(class='control-label') }}
      <div class="input-group">
        {{ form.email_name(class='form-control') }}
        <span class="input-group-addon">@</span>
        {{ form.email_host(class='form-control j-select') }}
      </div>
    </div>

    <div class="form-group">
      {{ form.client_os.label(class='control-label') }}
      {{ form.client_os(class='form-control j-select') }}
    </div>

    <div class="form-group">
      {{ form.submit(class='btn btn-primary pull-right j-submit') }}
    </div>
  </form>
  <footer>
    <a class="btn btn-default" href="{{ url_for('.client_guide', client_os='linux') }}">Linux</a>
    <a class="btn btn-default" href="{{ url_for('.client_guide', client_os='darwin') }}">Mac</a>
    <a class="btn btn-default" href="{{ url_for('.client_guide', client_os='windows') }}">Windows</a>
    <a class="btn btn-default" href="{{ url_for('.route_customize') }}">自定义路由表</a>
  </footer>
{%- endblock %}
