{%- extends 'base.html' %}

{%- block body %}
  <div class="clearfix page-guide">
    <h2 class="pull-left">OpenVPN 客户端状态</h2>
    <div class="pull-right btn-return">
      <ul class="nav nav-pills">
        <li role="presentation"><span class="btn">Welcome {{ user.name }}!</span></li>
        <li role="presentation">
          <a href="{{ url_for('.home') }}" class="btn btn-default">返回</a>
        </li>
      </ul>
    </div>
  </div>
  <hr>

  最后更新于<span title="{{ status.updated_at }}">{{ status.updated_at | timedeltaformat }}前<span>
  <hr>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>用户名</th>
        <th>登录地点</th>
        <th>登录时长</th>
        <th>上行流量</th>
        <th>下行流量</th>
        <th>虚拟地址</th>
      </tr>
    </thead>
    <tbody>
      {% for client in status.client_list.values() | sort(reverse=True, attribute='connected_since') %}
      <tr>
        <td title="{{ client.common_name }}">{{ client.common_name | office_common_name }}</td>
        {% if client.real_address.host is office_ipaddr %}
        <td title=":{{ client.real_address.port }}">办公室</td>
        {% else %}
          {% with geo = geoip2.city(client.real_address.host) %}
            {% if geo %}
            <td title="{{ client.real_address }}">
              {{ geo.country.names.get('zh-CN', geo.country.name) }}
              {{ geo.city.names.get('zh-CN', geo.city.name) }}
            </td>
            {% else %}
            <td title="{{ client.real_address }}">未知地点</td>
            {% endif %}
          {% endwith %}
        {% endif %}
        <td title="于 {{ client.connected_since }} 建立连接">{{ client.connected_since | timedeltaformat }}</td>
        <td>{{ client.bytes_received }}</td>
        <td>{{ client.bytes_sent }}</td>
        <td>{{ status.routing_table[client.common_name].virtual_address }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{%- endblock %}
